{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1 class="text-center">S'inscrire</h1>

    {{ form_start(registrationForm) }}
        <div class="w-50 m-auto">
            {{ form_row(registrationForm.firstname, {
                label: 'Nom',
                'attr': {
                            'class': 'form-control m-1 border-dark' 
                            }
            }) }}
            {{ form_row(registrationForm.lastname, {
                label: 'Prénom',
                'attr': {
                            'class': 'form-control m-1 border-dark' 
                            }
            }) }}
            {{ form_row(registrationForm.sex, {
                label: 'Sexe',
                'attr': {
                            'class': 'form-control m-1 border-dark' 
                            }
            }) }}
            {{ form_row(registrationForm.email, {
                label: 'Email',
                'attr': {
                            'class': 'form-control m-1 border-dark' 
                            }
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                'attr': {
                            'class': 'form-control m-1 border-dark' 
                            }
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Acceptez les conditions',
                'attr': {
                            'class': 'mx-3' 
                            }
            }) }}
        </div>
        <div class="text-center m-2">
            <button type="submit" class="btn btn-md btn-primary">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
