{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <h1 class="py-5 text-center">Liste des tâches</h1>

    <div class="container">
        <div class="row d-flex justify-content-center">
    {% for task in tasks %}
                <div class="col-12 col-md-6 col-lg-4 card border-success mb-3 text-center mx-2" style="max-width: 25rem;">
                    <div class="card-header bg-transparent border-success">
                        Pour le : {{ task.createDate ? task.createDate|date('Y-m-d') : '' }}  
                       <div class="btn btn-sm btn-warning float-end">
                            {{ task.status }}
                       </div> 
                    </div>
                    <div class="card-body text-success">
                        <h5 class="card-title text-white">Tâche : {{task.name}}</h5>
                        <p class="card-text text-white">Crée le : {{ task.deadline ? task.deadline|date('Y-m-d') : '' }}</p>
                        <p class="card-text text-white">{{ task.description }}</p>
                    </div>
                    <div class="row card-footer bg-transparent border-success">
                        <div class="col-sm-4">
                            <a class="btn btn-sm btn-success" href="{{ path('task_edit', {'id': task.id}) }}">Modifier</a>
                        </div>
                        <div class="col-sm-4">
                            {# rederiger vers les taches de projet {{ path('task_index') }}  #}
                            {# <a class="btn btn-sm btn-secondary" href="{{ path('task_index', {'id': task.id}) }}">Voir</a> #}
                        </div>
                        <div class="col-sm-4">
                            {{ include('task/_delete_form.html.twig') }}
                        </div>
                        
                    </div>
                    
                    {# <a class="btn btn-md btn-primary my-1" href="{{ path('project_index') }}">Retour à la liste des projet</a> #}
                    <a class="btn btn-md btn-success my-1" href="{{ path('task_new', {'id': project.id}) }}">Nouvelle tâche</a>
                    
                    
                </div>
    {% endfor %}
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreateDate</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.createDate ? task.createDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.deadline ? task.deadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    {# <a href="{{ path('task_new', {'id': id}) }}">Create new</a> #}
{% endblock %}
